
  form {
    max-width: 600px;
    text-align: center;
    margin: 20px auto;
  }
  
  form input,
  form textarea {
    border: 0;
    outline: 0;
    padding: 1em;
    border-radius: 8px;
    display: block;
    width: 100%;
    margin-top: 1em;
    font-family: "Merriweather", sans-serif;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    resize: none;
  }
  
  form input:focus,
  form textarea:focus {
    box-shadow: 0 0px 2px #ac4142 !important;
  }
  
  form #input-submit {
    color: white;
    background: #ac4142;
    cursor: pointer;
  }
  
  form #input-submit:hover {
    box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
  }
  
  form textarea {
    height: 126px;
  }
  
  .half {
    float: left;
    width: 48%;
    margin-bottom: 1em;
  }
  
  .right {
    width: 50%;
  }
  
  .left {
    margin-right: 2%;
  }
  
  @media (max-width: 480px) {
    .half {
      width: 100%;
      float: none;
      margin-bottom: 0;
    }
  }
  
  /* Clearfix */
  .cf:before,
  .cf:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
  }
  
  .cf:after {
    clear: both;
  }

  .center {
    margin: auto;
}

.sidebar_title{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bolder
}

#author_sidebar {
  text-transform: uppercase;
  letter-spacing: 3px;
}

.col2 {
    float:left;
    width:67%;
}

.col1 {
    float:left;
    width:33%;
}

.col50{
  float:left;
  width:50%;
}


.colfooter {
    clear:both;
}