<form action="https://formspree.io/kpravd@gmail.com" method="POST">
    <div>
      <label for="name"> Ime in priimek:</label>
      <input type="text" class="name" name="ime_priimek"placeholder="ime priimek">
    </div>
    <div>
      <label for="email">E-pošta:</label>
      <input type="email" class="email form-control" name="_replyto" placeholder="e-pošta">
    </div>
    <div>
      <label for="naslov">Ulica in hišna številka:</label>
      <input type="text" class="name form-control" name="naslov" placeholder="ulica in hišna številka">
    </div>
    <div>
      <label for="kraj">Poštna številka in kraj:</label>
      <input type="text" class="name form-control" name="kraj" placeholder="poštna številka in kraj">
    </div>
  
    <div>
      <label>Sporočilo:</label>
      <textarea rows="8" name="message" placeholder="sporočilo ..."></textarea>
    </div>
    <input id="input-submit" type="submit" value="Pošlji">
  </form>