<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>
  <meta name="description" content="Šarm je zbirka dvanajstih kratkih zgodb, v katerih živijo individualisti, ki pričajo o kolektivnih izkušnjah sodobnega Zahodnega sveta. Katalonski profesor prejme darilo za patriotsko držo. Fant s podeželja, ki se mu po žilah pretaka črna kri, je kaznovan. Brezposelni uradnik in rekreativna boksarka nimata ničesar skupnega. V prisluhih voajerskega košarkarja se oglaša glas Gorana Dragića. Nekateri umetniki črpajo motive iz estetike Auschwitza in skatološke proze Petra Travna, drugi pa se navdihujejo pri aferi Flisar. Dva zbegana in razočarana slovenska študenta ne moreta najti svojega mesta na Zemlji. Ona je bolj pismena od Zorana Jankovića in Donalda Trumpa, on pa se sploh ne zaveda svoje (ne)nadarjenosti. Profesor teologije odvrže svoja kulturna očala. Prodajalec rož, ki skrbi, da ljubezen med Evropejci ne bi ugasnila, najde uteho v prepevanju. Breme in blaženost se zgrinjata nad nas!" />
  <meta name="keywords" content="Primož Mlačnik knjiga Šarm kratke zgodba kratka zgodba proza pisatelj Dravograd Cerdonis" />
  <meta property="og:site_name" content="Primož Mlačnik - Šarm" />
  <meta property="og:url" content="http://šarm.info/" />
  <meta property="og:image" content="/public/sarm2.jpg" />
  <meta property="og:title" content="Primož Mlačnik - Šarm" />
  <meta property="og:type" content="article" />

  <!-- CSS -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"> -->
  <link rel="stylesheet" href={{"/public/css/poole.css" | relative_url }}>
  <link rel="stylesheet" href={{"/public/css/syntax.css" | relative_url}}>
  <link rel="stylesheet" href={{"/public/css/hyde.css" | relative_url | relative_url}}>
  <link rel="stylesheet" href={{"/public/css/costum.css" | relative_url | relative_url}}>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href={{"/public/apple-touch-icon-144-precomposed.png" | relative_url}}>
  <link rel="shortcut icon" href={{"/public/favicon.ico" | relative_url }}>

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
 
</head>
